@font-face {
  font-family: 'proxima';
  font-style: light;
  font-weight: light;
  src: url("../fonts/ProximaNova/ProximaNovaSoft/webFonts/proximanovasoft-regular.woff") format("woff"); }

body {
  font-family: 'proxima'; }
